.color-blue {
    --tw-bg-opacity: 1;
    background-color: rgb(93 99 241 / var(--tw-bg-opacity));
}
.color-light-blue {
    --tw-bg-opacity: 1;
    background-color: rgb(1 47 100 / var(--tw-bg-opacity));
}
.color-orange {
    --tw-bg-opacity: 1;
    background-color: rgb(247 44 5 / var(--tw-bg-opacity));
}
.color-yellow-orange {
    --tw-bg-opacity: 1;
    background-color: rgb(97 62 2 / var(--tw-bg-opacity));
}